<footer class="site-footer">
  <div class="container">
    
    <div class="footer-grid">
      <div class="footer-brand">
        <a href="../index.html" class="logo">
          <img src="../assets/img/logo.png" alt="The27LINKS Logo" style="height: 28px; width: auto; display: block;" />
          <span class="logo-text">The27LINKS</span>
        </a>
        <p>“By the Developers, for the Developers and the Developers. The 3D Platform.”</p>
      </div>
      
      <div class="footer-col"><h5>Tools</h5>
        <ul>
          <li><a href="../tools/pdf-merge.html">PDF Merge</a></li>
          <li><a href="../tools/pdf-split.html">PDF Split</a></li>
          <li><a href="../tools/image-compress.html">Image Compress</a></li>
          <li><a href="../tools/qr-code-generator.html">QR Generator</a></li>
          <li><a href="../tools.html">All tools...</a></li>
        </ul>
      </div>
      
      <div class="footer-col"><h5>Company</h5>
        <ul>
          <li><a href="../about.html">About</a></li>
          <li><a href="../contact.html">Contact</a></li>
          <li><a href="../sitemap.xml">Sitemap</a></li>
        </ul>
      </div>
      
      <div class="footer-col"><h5>Legal</h5>
        <ul>
          <li><a href="../privacy-policy.html">Privacy Policy</a></li>
          <li><a href="../terms.html">Terms of Service</a></li>
          <li><a href="../cookie-policy.html">Cookie Policy</a></li>
          <li><a href="../disclaimer.html">Disclaimer</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      
      <span class="footer-copyright">© <span data-year>2026</span> | <a href="https://the27links.in">The27LINKS.IN</a> | All Rights Reserved</span>
      
      <div class="footer-social">
        <a href="https://youtube.com/@The27LINKS" target="_blank" class="social-icon">
          <img src="../assets/img/svg/youtube.svg" alt="YouTube">
        </a>
       <a href="https://instagram.com/the27links" target="_blank" class="social-icon">
          <img src="../assets/img/svg/instagram.svg" alt="Instagram">
      </a>
        <a href="https://github.com/The27LINKS" target="_blank" class="social-icon">
          <img src="../assets/img/svg/github.svg" alt="GitHub">
        </a>
        <a href="https://snapchat.com/@the27links.tech" target="_blank" class="social-icon">
          <img src="../assets/img/svg/snapchat.svg" alt="Snapchat">
        </a>
        <a href="https://x.com/the27links" target="_blank" class="social-icon">
          <img src="../assets/img/svg/x.svg" alt="X">
        </a>
      </div>
      
      <span class="footer-designer">Designed By <a href="mailto:robertstorm143@gmail.com?subject=Redirected from The27LINKS' official website." style="font-family: 'Caveat', cursive; color: rgb(0, 255, 0);">Robert Storm</a></span>
      
    </div>
    
  </div>
</footer>